.create-form {
   width: 100%;
   height: 40px;
}
.create-form label {
   font-size: medium;
}
.create-form input {
   width: 100%;
   height: 100%;
   border: none;
   outline: none;
   border-bottom: 1px solid black;
   background: transparent;
}
.create-form .textBox {
   width: 100%;
   border: none;
   outline: none;
   height: auto;
   border-bottom: 1px solid black;
   margin-top: 10px;
   padding-bottom: 10px;
}
.sendButton {
   margin-top: 10px;
   padding: 12px 30px;
   border: none;
   outline: none;
   outline: 1px solid darkviolet;
   background-color: aliceblue;
   color: darkviolet;
   cursor: pointer;
   transition: 0.5s;
   border-radius: 4px;
   float: right;
   display: flex;
   align-items: center;
   gap: 10px;
}
.sendButton:hover {
   color: aliceblue !important;
   background: darkviolet;
}

.sendButton:hover svg {
   color: aliceblue !important;
}
.label {
   color: rgba(10, 10, 10, 0.551);
}
.create-form input:focus,
.create-form .textBox:focus {
   border-bottom: 2px solid black;
}
.space {
   width: 100%;
   height: 20px;
}
body.mceContentBody {
   background: aliceblue;
   color: #000;
}
