.container {
   width: 90%;
   min-height: 100%;
   height: auto;
   margin: 20px 5%;
   padding: 20px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 12px;
   flex-wrap: wrap;
}
.welcomeContainer {
   width: 50%;
   height: auto;
   padding: 20px;
}
.welcome {
   font-size: 50px;
   font-weight: 800;
   font-family: cursive;
   transition: 1s;
   background: radial-gradient(
      circle farthest-side at top left,
      #650fc0 7%,
      #323c33 45%,
      #75492a 51%,
      #762220 55%,
      #525a7c 89%,
      #f35d60 95%
   );
   background-clip: text;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.formContainer {
   width: auto;
   height: auto;
   border-radius: 8px;
   padding: 16px;
   text-align: center;
   box-shadow: 0 4px 8px grey;
}
img {
   width: auto;
   height: 100px;
   margin: 30px auto;
}
.login {
   margin: 0 auto;
}
.mailenger {
   width: 400px;
   height: 400px;
   margin: 10px auto;
}
