.notif {
   transition: 0.5s;
   width: auto;
   max-width: 300px;
   margin: 0;
   position: fixed;
   left: 30px;
   top: -100px;
   background: darkviolet;
   color: white;
   font-size: normal;
   z-index: 200;
   padding: 20px;
   border-radius: 10px;
   box-shadow: -1px 3px 2px 0 black;
}
