.sidebar {
   width: 30%;
   height: 100%;
   box-shadow: 0 0 3px 0 black;
   border-radius: 8px;
   padding: 12px;
   overflow: auto;
}
.sidebar .profile {
   width: 100%;
   height: 10%;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: left;
   position: relative;
   border-bottom: 1px solid rgb(39, 37, 37);
   background: aliceblue;
   z-index: 100;
   line-height: normal !important;
}
.sidebar .profile img {
   width: 40px;
   height: 40px;
   border-radius: 50%;
   position: absolute;
   left: 0;
   background-color: darkcyan;
}
.sidebar .profile .names {
   position: absolute;
   left: 50px;
   transform: translateY(-3px);
}
.sidebar .profile .names .ownname {
   font-size: 22px;
   font-weight: bold;
   color: rgb(10, 7, 15);
   line-height: normal !important;
}
.sidebar .profile .names .email {
   font-size: 12px;
   font-style: italic;
   color: rgb(45, 98, 45);
   padding: 0 !important;
   line-height: normal !important;
}
.sidebar .profile .bi-search {
   position: absolute;
   right: 5px;
   cursor: pointer;
}

.sidebar .side-contents {
   height: 79%;
   width: 100%;
   margin: 0.5% 0;
   overflow-x: hidden;
   overflow-y: auto;
   padding-right: 6px;
   line-height: normal !important;
}
*::-webkit-scrollbar {
   width: 8px;
   border-radius: 10px;
}
*::-webkit-scrollbar-track {
   background: transparent;
}
*::-webkit-scrollbar-thumb {
   background: #888;
   cursor: pointer;
   border-radius: 20px;
}
*::-webkit-scrollbar-thumb:hover {
   background: #555;
}
.sidebar .side-contents .message-list {
   width: 100%;
   height: 60px;
   display: flex;
   align-items: center;
   gap: 10px;
   position: relative;
   cursor: pointer;
   margin-bottom: 5px;
   border: none;
   outline: none;
   background: transparent;
   text-align: left;
   border-radius: 6px;
   line-height: normal !important;
}
.sidebar .side-contents .message-list:hover {
   background-color: rgba(192, 192, 192, 0.558);
}
.sidebar .side-contents .active {
   background: #d5d5d5;
}
.sidebar .side-contents .message-list .avtr {
   position: absolute;
   left: 10px;
}
.sidebar .side-contents .message-list .message-info {
   position: absolute;
   left: 50px;
   width: auto;
   height: auto;
   line-height: 20px !important;
   margin: 0 !important;
}
.sidebar .side-contents .message-list .message-info .name {
   font-size: 15px;
   font-weight: 600;
   line-height: normal !important;
   padding: 0 !important;
   transform: none !important;
   margin: 0 !important;
}
.sidebar .side-contents .message-list .message-info .subject {
   max-width: 20rem;
   font-size: 13.5px;
   font-weight: 500;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   line-height: normal !important;
   padding: 0 !important;
   transform: none !important;
   margin: 0 !important;
}
.sidebar .side-contents .message-list .message-info .snippet {
   max-width: 20rem;
   font-size: 12px;
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
   overflow: hidden;
   line-height: normal !important;
   padding: 0 !important;
   transform: none !important;
   margin: 0 !important;
}
.sidebar .nav-fix-bottom {
   width: 100%;
   height: 10%;
   background: aliceblue;
   z-index: 100;
   box-shadow: 0 0 2px 0 black;
   padding: 8px;
   border-radius: 5px;
   display: flex;
   align-items: center;
   justify-content: space-between;
   gap: 12px;
}
.sidebar .nav-fix-bottom button {
   width: auto;
   height: auto;
   padding: 0;
   border: none;
   outline: none;
   background: transparent;
}
.logout {
   border: none;
   outline: none;
   background: transparent;
   cursor: pointer;
}
.bi {
   cursor: pointer;
   transition: 0.3s;
}
.bi:hover {
   color: rgb(77, 215, 9);
}
.loading {
   width: 100%;
   height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
}
