.phone[data-v-7e554f8e] {
   display: none;
}
.desktop[data-v-7e554f8e] {
   width: 100%;
   height: 80px;
   padding: 2px;
   display: flex;
   align-items: center;
   background: #f0f8ff;
   position: sticky;
   top: 0;
   z-index: 100;
}
.desktop .brand[data-v-7e554f8e] {
   width: auto;
   height: auto;
   position: absolute;
   left: 40px;
}
.desktop .brand h3[data-v-7e554f8e] {
   font-size: 30px;
   color: #000;
   font-weight: bolder;
   position: relative;
   font-family: cursive;
   transition: 1s;
   background: linear-gradient(45deg, #9400d3, #191970);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.desktop .brand h3[data-v-7e554f8e]:after {
   content: '';
   position: absolute;
   left: 0;
   bottom: -5px;
   width: 100%;
   height: 6px;
}
.desktop ul[data-v-7e554f8e] {
   width: auto;
   height: auto;
   display: flex;
   position: absolute;
   right: 40px;
   gap: 20px;
}
.desktop ul li[data-v-7e554f8e] {
   list-style-type: none;
   position: relative;
}
.desktop ul li a[data-v-7e554f8e] {
   padding: 10px;
   font-size: 16px;
   text-decoration: none;
   font-family: -apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, sans-serif;
   color: #000;
   font-weight: 400;
   position: relative;
   overflow: hidden;
   margin: 0 auto;
}
.desktop ul li .active[data-v-7e554f8e] {
   font-weight: bolder;
}
.desktop ul li .sty[data-v-7e554f8e] {
   width: 0;
   height: 2px;
   background: #9400d3;
   position: absolute;
   bottom: -5px;
   border-radius: 3px;
   transition: 1s;
   z-index: -2;
   left: 10px;
}
.desktop ul li:hover .sty[data-v-7e554f8e] {
   width: 70%;
}
.desktop ul li a.bigBorder[data-v-7e554f8e] {
   width: 100%;
   height: 100%;
   padding: 8px 16px;
   border: 1px solid #ff8c00;
   border-radius: 4px;
   color: #ff8c00;
   transition: 1s;
   font-weight: 700;
}
.desktop ul li a.bigBorder[data-v-7e554f8e]:hover {
   background: #ff8c00;
   color: #f0f8ff;
}
.phone[data-v-7e554f8e] {
   width: 100%;
   height: 60px;
   padding: 2px;
   display: flex;
   align-items: center;
   position: sticky;
   top: 0;
   z-index: 100;
   background: #f0f8ff;
}
.phone .brand[data-v-7e554f8e] {
   width: auto;
   height: auto;
   position: absolute;
   left: 20px;
}
.phone .brand h3[data-v-7e554f8e] {
   font-size: 20px;
   color: #000;
   font-weight: bolder;
   position: relative;
   font-family: cursive;
   transition: 1s;
   background: linear-gradient(45deg, #9400d3, #191970);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.phone ul[data-v-7e554f8e] {
   width: 40px;
   height: 40px;
   position: absolute;
   right: 20px;
   overflow: hidden;
}
.phone ul button[data-v-7e554f8e] {
   width: 100%;
   height: 100%;
   padding: 0;
   outline: none;
   border: none;
   overflow: hidden;
   border-radius: 3px;
   background: transparent;
   cursor: pointer;
}
.phone ul button canvas[data-v-7e554f8e] {
   width: 100%;
   height: 100%;
   margin: 0;
   padding: 0;
   background: transparent;
}
.phoneLinks[data-v-7e554f8e] {
   width: 100%;
   height: auto;
   position: fixed;
   top: 60px;
   display: block;
   overflow: hidden;
   background: #f0f8ff;
   z-index: 999;
}
.phoneLinks .lis[data-v-7e554f8e] {
   width: 100%;
   height: 100%;
   padding: 6px;
   display: flex;
   align-items: center;
   padding-left: 12px;
}
.phoneLinks .lis a[data-v-7e554f8e] {
   width: 100%;
   height: auto;
   display: block;
   text-decoration: none;
   font-size: 16px;
   padding: 5px;
   border-left: 3px solid #ff8c00;
   padding-left: 8px;
   color: #000;
}
.containerss[data-v-1ccc18e6] {
   width: 100%;
   height: auto;
   padding: 20px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 20px;
}
.containerss .content-display[data-v-1ccc18e6] {
   width: 50%;
   height: auto;
   padding: 50px 100px;
   display: flex;
   align-items: center;
   justify-content: center;
}
.containerss .content-display .center[data-v-1ccc18e6],
.containerss .content-display .left[data-v-1ccc18e6],
.containerss .content-display .right[data-v-1ccc18e6] {
   width: auto;
   height: auto;
   padding: 5px;
}
.box[data-v-1ccc18e6] {
   width: 8vw;
   height: 8vw;
   background: #f0f8ff;
   margin-bottom: 10px;
   border-radius: 3px;
   transition: 0.6s;
}
.box[data-v-1ccc18e6]:hover {
   transform: translateY(-5px);
   box-shadow: 0 5px 5px 2px rgba(0, 0, 0, 0.5);
}
.containerss .content-text[data-v-1ccc18e6] {
   width: 50%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: left;
   padding: 0;
}
.containerss .content-text h1[data-v-1ccc18e6] {
   font-size: 7vw;
   background: linear-gradient(45deg, #9400d3, #191970);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
.ani1[data-v-1ccc18e6] {
   animation: ani1-1ccc18e6 3s ease-in-out;
}
.ani2[data-v-1ccc18e6] {
   animation: ani2-1ccc18e6 3s ease-in-out;
}
.ani3[data-v-1ccc18e6] {
   animation: ani3-1ccc18e6 3s ease-in-out;
}
.ani4[data-v-1ccc18e6] {
   animation: ani4-1ccc18e6 3s ease-in-out;
}
.ani5[data-v-1ccc18e6] {
   animation: ani5-1ccc18e6 3s ease-in-out;
}
.ani6[data-v-1ccc18e6] {
   animation: ani6-1ccc18e6 3s ease-in-out;
}
.ani7[data-v-1ccc18e6] {
   animation: ani7-1ccc18e6 3s ease-in-out;
}
.ani8[data-v-1ccc18e6] {
   animation: ani8-1ccc18e6 3s ease-in-out;
}
.ani9[data-v-1ccc18e6] {
   animation: ani9-1ccc18e6 3s ease-in-out;
}
@keyframes ani1-1ccc18e6 {
   0% {
      transform: translateY(-50px);
   }
   to {
      transform: translateY(0);
   }
}
@keyframes ani2-1ccc18e6 {
   0% {
      transform: translateX(-50px);
   }
   to {
      transform: translateX(0);
   }
}
@keyframes ani3-1ccc18e6 {
   0% {
      transform: translateY(50px);
   }
   to {
      transform: translateY(0);
   }
}
@keyframes ani4-1ccc18e6 {
   0% {
      transform: translateX(50px);
   }
   to {
      transform: translateX(0);
   }
}
@keyframes ani5-1ccc18e6 {
   0% {
      transform: rotate(1turn);
   }
   to {
      transform: rotate(0);
   }
}
@keyframes ani6-1ccc18e6 {
   0% {
      transform: translate(50px, -50px);
   }
   to {
      transform: translate(0);
   }
}
@keyframes ani7-1ccc18e6 {
   0% {
      transform: translate(-50px, 50px);
   }
   to {
      transform: translate(0);
   }
}
@keyframes ani8-1ccc18e6 {
   0% {
      transform: translate(50px, 50px);
   }
   to {
      transform: translate(0);
   }
}
@keyframes ani9-1ccc18e6 {
   0% {
      transform: translate(-50px, -50px);
   }
   to {
      transform: translate(0);
   }
}
@media (max-width: 576px) {
   .containerss[data-v-1ccc18e6] {
      flex-wrap: wrap;
   }
   .containerss .content-display[data-v-1ccc18e6] {
      width: 100%;
      padding: 0;
   }
   .containerss .content-text[data-v-1ccc18e6] {
      width: 100%;
      text-align: center;
   }
}
.background-displayer[data-v-cfc78592] {
   width: 60%;
   height: auto;
   max-height: 480px;
   border-radius: 6px;
}
@media (max-width: 900px) {
   .background-displayer[data-v-cfc78592] {
      width: 100%;
      height: 200px;
   }
}
.background-controler[data-v-04ed1e85] {
   width: 40%;
   height: auto;
   padding: 10px;
   background: linear-gradient(270deg, #5d3af7, #bf48e2);
   border-radius: 6px;
}
.color-type-control[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   display: flex;
}
.color-type-control .type-controler[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
}
.color-type-control .type-controler button[data-v-04ed1e85] {
   width: auto;
   height: auto;
   font-size: 17px;
   border: none;
   outline: none;
   cursor: pointer;
   border-radius: 3px;
   font-weight: 700;
   padding: 5px 30px;
   margin: 10px auto;
}
.color-type-control .type-controler button.active[data-v-04ed1e85] {
   background: cyan;
   box-shadow: 0 2px 2px 0 #000;
}
.color-type-control .history-controler button[data-v-04ed1e85] {
   outline: none;
   border: none;
   background: transparent;
   cursor: pointer;
   font-weight: 700;
   color: #f0f8ff;
   padding: 6px 12px;
   border-radius: 4px;
}
.space[data-v-04ed1e85] {
   height: 10px;
}
.label-light[data-v-04ed1e85] {
   font-size: 19px;
   font-weight: 700;
   color: #f0f8ff;
   text-align: left;
   display: flex;
   justify-content: left;
   margin-bottom: 4px;
}
.background-displayer-panel[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   padding: 8px;
   background: #f0f8ff;
   color: #000;
   display: flex;
   justify-content: left;
   align-items: center;
   padding-right: 40px;
   border-radius: 3px;
   position: relative;
}
.background-displayer-panel p[data-v-04ed1e85] {
   text-align: left;
}
.choose[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   padding: 8px;
   background: #fff;
   border-radius: 2px;
   margin-top: 5px;
   border-radius: 3px;
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.choose[data-v-04ed1e85]:focus {
   border: none;
   outline: none;
}
.choose button[data-v-04ed1e85] {
   width: auto;
   height: auto;
   padding: 4px;
   background: transparent;
   border: none;
   outline: none;
   position: absolute;
   right: 10px;
   cursor: pointer;
}
.options[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   padding: 10px;
   background: linear-gradient(90deg, #5d3af7, #bf48e2);
   border-radius: 3px;
}
.options button[data-v-04ed1e85] {
   width: 100%;
   height: 36px;
   background: #f0f8ff;
   border-radius: 3px;
   border: none;
   outline: none;
   margin: 5px auto;
   cursor: pointer;
}
.color-count-controler[data-v-04ed1e85] {
   width: 100%;
   height: auto;
   padding: 8px;
   background: #fff;
   border-radius: 2px;
   margin-top: 5px;
   border-radius: 3px;
   position: relative;
   display: flex;
   align-items: center;
   cursor: pointer;
}
.minus[data-v-04ed1e85] {
   right: 40px;
   background: red;
   border: none;
}
.minus[data-v-04ed1e85],
.plus[data-v-04ed1e85] {
   position: absolute;
   border-radius: 50%;
   color: #fff;
   outline: none;
   width: 24px;
   height: 24px;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}
.plus[data-v-04ed1e85] {
   right: 10px;
   background: green;
   border: 1px solid red;
   border: none;
}
.minus[data-v-04ed1e85]:hover,
.plus[data-v-04ed1e85]:hover {
   transition: 0.8s;
   opacity: 0.9;
}
.button-randomizer[data-v-04ed1e85] {
   width: 100%;
   height: 46px;
   display: flex;
   align-items: center;
   justify-content: center;
   box-shadow: 0 3px 4px 0 #000;
   background: linear-gradient(to top left, cyan, #9acd32);
   border: none;
   outline: none;
   margin-top: 10px;
   border-radius: 5px;
   cursor: pointer;
}
.copy[data-v-04ed1e85] {
   width: auto;
   height: auto;
   padding: 4px;
   background: transparent;
   border: none;
   outline: none;
   position: absolute;
   right: 10px;
   cursor: pointer;
}
@media (max-width: 900px) {
   .background-controler[data-v-04ed1e85] {
      width: 100%;
   }
   .color-type-control .type-controler button[data-v-04ed1e85] {
      font-size: 16px;
      border-radius: 3px;
      font-weight: 700;
      padding: 6px 15px;
      margin: 10px auto;
   }
}
.card-container[data-v-694072f0] {
   width: 100%;
   height: auto;
   background: linear-gradient(to top left, #191970, #9400d3);
   background-size: 100% 300px;
   background-repeat: no-repeat;
   padding: 20px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: baseline;
   gap: 16px;
}
.title[data-v-694072f0] {
   width: 100%;
   height: auto;
   padding: 12px;
}
.title h2[data-v-694072f0] {
   color: #f0f8ff;
   font-size: 30px;
}
.card-container .card[data-v-694072f0] {
   width: auto;
   min-width: 32%;
   height: auto;
   border-radius: 6px;
   box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
   padding: 10px;
   background: #f0f8ff;
}
.card-container .card .card-background[data-v-694072f0] {
   width: 100%;
   height: 220px;
   border-radius: 6px;
   background: green;
}
.card-container .card .card-text[data-v-694072f0] {
   width: 100%;
   height: 100%;
   padding: 10px;
}
.card-container .card .card-text h3[data-v-694072f0] {
   font-size: 22px;
}
.card-container .card .card-text p[data-v-694072f0] {
   font-size: 17px;
   font-family: Courier;
   margin-top: 10px;
}
.card-container .card .card-text button[data-v-694072f0] {
   width: auto;
   height: auto;
   padding: 10px 20px;
   border: none;
   outline: none;
   cursor: pointer;
   background: transparent;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
   margin-top: 10px;
   transition: 0.5s;
   float: right;
}
.card-container .card .card-text button[data-v-694072f0]:hover {
   background: linear-gradient(to top left, #191970, #9400d3);
   color: #f0f8ff;
}
@media (max-width: 900px) {
   .card-container[data-v-694072f0] {
      flex-wrap: wrap;
   }
   .card[data-v-694072f0] {
      margin-bottom: 12px;
   }
}
.containers[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: left;
   gap: 12px;
}
.note[data-v-a3e3d884] {
   width: 100%;
   min-width: 100%;
   height: auto;
   padding: 10px;
   font-size: 22px;
   color: #f0f8ff;
}
.box[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   min-width: 260px;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 5px;
   background: #f0f8ff;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 10px;
}
.box.add svg[data-v-a3e3d884] {
   color: #f0f8ff;
}
.box.add[data-v-a3e3d884]:hover {
   box-shadow: 0 0 3px 0 #000;
   transform: translateY(-3px);
}
.box .content-action[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.box .content-action button[data-v-a3e3d884] {
   cursor: pointer;
}
.box .content-action .panel[data-v-a3e3d884],
.box .content-action button[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-action .minus[data-v-a3e3d884],
.box .content-action .plus[data-v-a3e3d884] {
   width: auto;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-text[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   padding: 10px;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
   margin-bottom: 10px;
   background: #f0f8ff;
}
.box .content-background[data-v-a3e3d884] {
   width: 100%;
   height: auto;
   min-height: 260px;
   border-radius: 4px;
}
.box .content-background.add[data-v-a3e3d884] {
   background: #8a2be2;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.8s;
   color: #f0f8ff;
}
@media (max-width: 900px) {
   .box[data-v-a3e3d884] {
      margin-top: 10px;
   }
}
.containers[data-v-566a429a] {
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: left;
   gap: 8px;
}
.note[data-v-566a429a] {
   width: 100%;
   min-width: 100%;
   height: auto;
   padding: 10px;
   font-size: 22px;
   color: #f0f8ff;
}
.box[data-v-566a429a] {
   width: 100%;
   height: auto;
   min-width: 260px;
   box-shadow: 0 0 3px 0 #000;
   background: #f0f8ff;
   border-radius: 5px;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 10px;
}
.box.add svg[data-v-566a429a] {
   color: #f0f8ff;
}
.box.add[data-v-566a429a]:hover {
   box-shadow: 0 0 3px 0 #000;
   transform: translateY(-3px);
}
.box .content-action[data-v-566a429a] {
   width: 100%;
   height: auto;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.box .content-action button[data-v-566a429a] {
   cursor: pointer;
}
.box .content-action .panel[data-v-566a429a],
.box .content-action button[data-v-566a429a] {
   width: 100%;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-action .minus[data-v-566a429a],
.box .content-action .plus[data-v-566a429a] {
   width: auto;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-text[data-v-566a429a] {
   width: 100%;
   height: auto;
   padding: 10px;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
   margin-bottom: 10px;
   background: #f0f8ff;
}
.box .content-background[data-v-566a429a] {
   width: 100%;
   height: auto;
   min-height: 260px;
   border-radius: 4px;
}
.box .content-background.add[data-v-566a429a] {
   background: #8a2be2;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.8s;
   color: #f0f8ff;
}
@media (max-width: 900px) {
   .box[data-v-566a429a] {
      margin-top: 12px;
   }
}
.containers[data-v-72b1d482] {
   width: 100%;
   height: auto;
   display: flex;
   flex-wrap: wrap;
   align-items: baseline;
   justify-content: left;
   gap: 12px;
}
.note[data-v-72b1d482] {
   width: 100%;
   min-width: 100%;
   height: auto;
   padding: 10px;
   font-size: 22px;
   color: #f0f8ff;
}
.box[data-v-72b1d482] {
   width: 100%;
   height: auto;
   min-width: 260px;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 5px;
   background: #f0f8ff;
   flex: 1;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   padding: 10px;
   animation-delay: 3s;
}
.box.add svg[data-v-72b1d482] {
   color: #f0f8ff;
}
.box.add[data-v-72b1d482]:hover {
   box-shadow: 0 0 3px 0 #000;
   transform: translateY(-3px);
}
.box .content-action[data-v-72b1d482] {
   width: 100%;
   height: auto;
   padding-bottom: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
}
.box .content-action button[data-v-72b1d482] {
   cursor: pointer;
}
.box .content-action .panel[data-v-72b1d482],
.box .content-action button[data-v-72b1d482] {
   width: 100%;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-action .minus[data-v-72b1d482],
.box .content-action .plus[data-v-72b1d482] {
   width: auto;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   justify-content: center;
   color: #000;
   border: none;
   outline: none;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
}
.box .content-text[data-v-72b1d482] {
   width: 100%;
   height: auto;
   padding: 10px;
   box-shadow: 0 0 3px 0 #000;
   border-radius: 3px;
   margin-bottom: 10px;
   background: #f0f8ff;
}
.box .content-background[data-v-72b1d482] {
   width: 100%;
   height: auto;
   min-height: 260px;
   border-radius: 4px;
}
.box .content-background.add[data-v-72b1d482] {
   background: #8a2be2;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   transition: 0.8s;
   color: #f0f8ff;
}
@media (max-width: 900px) {
   .box[data-v-72b1d482] {
      margin-top: 10px;
   }
}
.footer[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   background: linear-gradient(to top left, #191970, #9400d3);
   padding: 12px;
   color: #f0f8ff;
}
.footer .flex-container[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   padding: 0;
   display: flex;
   justify-content: center;
   gap: 12px;
}
.footer .flex-container .flex-left[data-v-b3c0f09a] {
   width: 50%;
   height: auto;
}
.footer .flex-container .flex-left h2[data-v-b3c0f09a] {
   font-size: 30px;
   padding: 10px;
}
.footer .flex-container .flex-left p[data-v-b3c0f09a] {
   font-family: Courier;
   font-size: 20px;
   padding: 10px;
   text-shadow: 0 3px 2px rgba(0, 0, 0, 0.5);
}
.footer .flex-container .flex-right[data-v-b3c0f09a] {
   width: 50%;
   height: auto;
   padding: 12px;
}
.footer .flex-container .flex-right label[data-v-b3c0f09a] {
   color: #f0f8ff;
}
.footer .flex-container .flex-right h4[data-v-b3c0f09a] {
   color: #f0f8ff;
   font-size: 26px;
}
.footer .flex-container .flex-right .textarea[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   min-height: 220px;
   padding: 10px;
   background: hsla(0, 0%, 100%, 0.5);
   margin: 10px auto;
   outline: none;
   border-radius: 10px;
   font-size: 19px;
}
.footer .flex-container .flex-right .email[data-v-b3c0f09a] {
   width: 100%;
   height: 50px;
   padding: 10px;
   outline: none;
   border: none;
   background: hsla(0, 0%, 100%, 0.5);
   margin: 10px auto;
   border-radius: 10px;
   font-size: 19px;
}
.footer .flex-container .flex-right .submit[data-v-b3c0f09a] {
   width: 100%;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: none;
   outline: none;
   background: #f0f8ff;
   color: #191970;
   cursor: pointer;
   border-radius: 10px;
   font-size: 19px;
   transition: 0.5s;
}
.footer .flex-container .flex-right .submit[data-v-b3c0f09a]:hover {
   border: 1px solid #f0f8ff;
   background: #191970;
   color: #f0f8ff;
}
.grandomizer[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   padding: 10px;
   display: flex;
   align-items: center;
   gap: 10px;
}
.grandomizer img[data-v-b3c0f09a] {
   width: 50px;
   height: 50px;
}
.copyright[data-v-b3c0f09a] {
   padding: 10px;
   text-align: center;
   color: #f0f8ff;
}
.copyright a[data-v-b3c0f09a] {
   text-decoration: none;
   padding: 3px;
   color: #f0f8ff;
}
.social[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   text-align: center;
   font-size: 22px;
}
.logo-flex[data-v-b3c0f09a] {
   width: 100%;
   height: auto;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 10px;
   gap: 20px;
}
.logo-flex a[data-v-b3c0f09a] {
   text-decoration: none;
   color: #f0f8ff;
   transition: 0.5s;
}
.logo-flex a[data-v-b3c0f09a]:hover {
   transform: scale(1.5);
}
.flex-right li[data-v-b3c0f09a] {
   padding: 10px 0;
   list-style-type: none;
   display: flex;
   align-items: center;
   gap: 10px;
}
.flex-right h3[data-v-b3c0f09a] {
   text-align: center;
   font-size: 20px;
}
@media (max-width: 576px) {
   .flex-container[data-v-b3c0f09a] {
      flex-wrap: wrap;
   }
   .flex-left[data-v-b3c0f09a],
   .flex-right[data-v-b3c0f09a] {
      width: 100% !important;
   }
   .flex-left h2[data-v-b3c0f09a] {
      font-size: 22px !important;
   }
   .flex-left p[data-v-b3c0f09a] {
      font-size: 17px !important;
   }
   .flex-right li svg[data-v-b3c0f09a] {
      margin-right: 10px;
   }
   .logo-flex a[data-v-b3c0f09a] {
      margin: 10px;
   }
   .grandomizer img[data-v-b3c0f09a] {
      margin-right: 10px;
   }
}
#app {
   font-family: Avenir, Helvetica, Arial, sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: #2c3e50;
}
#app,
.container {
   position: relative;
}
.container {
   width: 100%;
   height: auto;
   background: linear-gradient(to top left, #191970, #9400d3);
   background-size: 100% 300px;
   background-repeat: no-repeat;
   padding: 16px;
   display: flex;
   justify-content: center;
   gap: 16px;
}
@media (max-width: 900px) {
   .container {
      flex-wrap: wrap;
   }
}
